* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

.container {
    width: 970px;
    outline: 1px solid black;
    margin: 0 auto;
}

header {
    height: 50px;
    background-color: #f9f9f9;
}

header h1 {
    display: inline-block;
    width: 49%;
    position:relative;
    left: 30px;
    top: 5px;
    font-family: 'Raleway', sans-serif;
}

header h2 {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.img-photo {
    width: 380px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid gray;
}

.about {
    display: inline-block;
    width: 505px;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
}

main {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1f0e13+1,6f5a64+50,1f0e13+99 */
    background: #1f0e13; /* Old browsers */
    background: -moz-linear-gradient(top,  #1f0e13 1%, #6f5a64 50%, #1f0e13 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1f0e13 1%,#6f5a64 50%,#1f0e13 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1f0e13 1%,#6f5a64 50%,#1f0e13 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f0e13', endColorstr='#1f0e13',GradientType=0 ); /* IE6-9 */

}

h3 {
    background-color: silver;
    color: white;
    padding: 10px;
}

.recuadro_blanco {
    padding: 10px;
    background-color: white;
    height: 192px;
}

.recuadro_blanco p { /*Al párrafo que se encuentra en la clase recuadro_blanco*/
    margin-bottom: 20px;
}

.proyecto {
    display: inline-block;
    width: 290px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    height: 620px;
    vertical-align: top;
    position:relative;
}

.proyecto img {
    width: 100%;
}

.proyecto p {
    padding: 0px 10px;
}

.logos {
    padding: 5px 10px;
}

.logos img {
    width: 40px;
}

.tecnologias button {
    background-color: green;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;;
}

.tecnologias {
    position:absolute;
    bottom: 0;
}

footer {
    background-color: lightgrey;
    text-align: center;
}
